body {
    font-family: "Roboto", sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-image {
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}

button,
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #008cba; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margin */
    transition-duration: 0.4s; /* Add a transition effect (when you mouse over the button, it changes color) */
}

button:hover,
.custom-file-upload:hover {
    background-color: #4caf50; /* Green */
    color: white;
}

#userImageInput {
    display: none;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}